.tarefas{
  margin-top: 30px;
  color:#e5e900c7;
}

.tarefas li:hover{
  background-color: #120946;
}

.tarefas li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  transition: all 600ms;
}
.tarefas li .edit{
  margin-left: 15px;
  color: #e5e900c7;
}
.tarefas li .delete:hover{
  color: black;
  cursor:pointer;
  transition: all 600ms;
}

.tarefas li .delete:hover{
  color: black;
    cursor:pointer;
    transition: all 600ms;

}
.tarefas li .delete{
  margin-left: 15px;
  color: #e5e900c7;
}

.tarefas li span{
  display: flex;
  align-items: center;
  padding: 10px;
  transition: all 600ms;
}
